<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elemetry School Data</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1><em>Elementry School Data</em></h1>
    <h3><em>Teachers Data By State</em></h3>
        <form action="/workingTotal" method="GET">
            <div class="mainButton">
                <button class="button1" type="submit">Total Working</button>
            </div>
        </form>
        <form action="/vacanciesTotal" method="GET">
            <div class="mainButton">
                <button class="button2" type="submit">Total Vacancies</button>
            </div>
        </form>
        <form action="/sanctionedTotal" method="GET">
            <div class="mainButton">
                <button class="button3" type="submit">Total Sanctioned Post</button>
            </div>
        </form>
    <%if(value==='workingTotal'){%>
     <div>
         <h2><em>Total Working Teachers</em></h2>
    <%rawdata.records.forEach(el=>{%><div> 
        <%=el.states_uts%>=<%=el.working___total%>
    </div><%})%>%>
     </div>
      <%}%>
     <%if(value==='vacanciesTotal'){%>
        <div>
            <h2><em>Total Vacancies Teachers</em></h2>
       <%rawdata.records.forEach(el=>{%><div> 
           <%=el.states_uts%>=<%=el.vacancies___total%>
       </div><%})%>%>
        </div>
         <%}%>
        <%if(value==='SanctionedTotal'){%>
            <div>
                <h2><em>Total Sanctioned Posts</em></h2>
           <%rawdata.records.forEach(el=>{%><div> 
               <%=el.states_uts%>=<%=el.sanctioned_post___total%>
           </div><%})%>%>
            </div>
             <%}%>



</body>

</html>